body{
  margin : 0; 
}

header{
  background-color:lightblue;
  height: 125px
}

article{
  background-color:aliceblue;
  width:70vw;
  margin: 0 auto;
}

nav{
  background-color:red;

}

ul{
  margin: 0;
}

ul li{
  display:inline-block;
  padding:10px;
}